# Core functionality - changes here should be rare!
/src/app.py                   @aniket-raskar1
/src/backend/database.py      @aniket-raskar1
/src/backend/routers/auth.py  @aniket-raskar1

# The frontend will need refactored soon to be more object oriented.
/src/static/   @aniket-raskar1
